$font-poppins: Poppins;
$small-500: Inter;

$small-500-size: 12px;
$small-400-size: 12px;
$body-500-size: 14px;
$orion-h500-size: 16px;
$h4-500-size: 20px;

$base-white: #fff;
$gray-200: #c1c9d2;
$color-gainsboro: #e4e7ec;
$light-blue-blue-500: #0078d4;
$blue-500: #5469d4;
$gray-600: #4f566b;
$gray-50: #f7fafc;
$gray-500: #697386;
$gray-gray-500: #6b7280;
$gray-700: #3c4257;
$gray-gray-900: #161e2e;
$green-900: #082429;
$system-materials-sm-l-thick: rgba(250, 250, 250, 0.93);
$text-gray: #475467;
$color-darkgray: #a1a1a1;

$gap-base: 16px;
$gap-9xs: 4px;
$gap-5xs: 8px;

$padding-base: 16px;
$padding-5xl: 24px;
$padding-xs: 12px;
$padding-5xs: 8px;
$padding-9xs: 4px;


$br-5xs: 8px;
$br-8xs: 5px;
$br-9xs: 4px;
$br-3xs: 10px;

$effect: 0px 0px 4px rgba(55, 65, 81, 0.06);
