@import "../variables";

.footer {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-self: stretch;
    border-radius: 0 0 $br-5xs $br-5xs;
    border: 1px solid $color-gainsboro;
    box-sizing: border-box;
    height: 71px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: space-between;
    padding: $padding-base $padding-5xl;
    text-align: center;
    font-size: $body-500-size;
    color: $gray-600;

    & button {
        height: 100%;
    }
}

.left-buttons {
    height: 100%;
}

.right-buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $gap-5xs;
}
