.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    box-sizing: border-box;
    text-align: center;

    .team-select {
        width: 100%;
        padding: 8px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        font-size: 16px;

        &:focus {
            border-color: blue;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
        }

        option {
            background-color: white; // Background color of options
            color: black; // Text color of options

            // Attempt to style padding, font, etc. (limited support)
            padding: 5px;
            font-size: 14px;

            &:hover,
            &:focus {
                background-color: lightgray; // Background color on hover or focus
            }
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 8px;
}

.user-image {
    width: 50px;
    height: 50px;
}

.user-info-text {
    margin-left: 10px;
    text-align: left;
}

.loading-indicator {
    text-align: center;
}