/* filter */
#list-task-wrapper {
    margin: 0.5rem;
    color: #555555;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 600px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #DBD7D2;
    z-index: 99;
    border: 1px solid #696969;
    border-radius: 24px;
    transition: all .8s ease;
    overflow-y: scroll;
    max-height: 80%;

    .operator-wrap {
        display: flex;
        align-items: center;
        justify-content: start;

        .minimize-btn {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: max-content;
            cursor: pointer;
            user-select: none;
            border-radius: 50%;

            &:hover {
                background-color: #848482;
            }

            svg {
                width: 24px;
            }
        }

        .filter {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .option-wrap {
                display: flex;
                padding: 0 1rem;
                align-items: center;

                .filter-checkbox {
                    width: 1rem;
                    height: 1rem;
                    border: 1px solid black;
                }

                .type-text {
                    padding-left: 0.5rem;
                }
            }
        }
    }

    .hr {
        height: 1px;
        margin-top: 1rem;
        background-color: black;
    }

    // task
    .task {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .task-info {
            flex: 1 1 60%;
            margin-left: 0.5rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .task-title {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .task-assignee,
            .issue-type,
            .time-created {
                font-weight: normal;
                color: #848482;
                font-size: 1rem;
            }

        }

        .task-status {
            flex: 1 1 20%;
            padding: 0.5rem 1rem;
            border-radius: 28px;
            color: #222;
            margin: 0 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .task-status-resolved {
            background-color: #00A86B;
        }

        .task-status-canceled {
            background-color: #C51E3A;
        }

        .task-status-in-progress {
            background-color: #2072AF;
        }

        .task-status-disconnected {
            background-color: #696969;
        }

        .task-status-open {
            background-color: #ed8077;
        }

        .task-status-closed {
            background-color: #a1af2f;
        }

        .task-status-default {
            background-color: rgb(190, 134, 59);
        }

        .edit-wrap {
            flex: 1 1 10%;
            width: max-content;
            height: max-content;
            min-width: 20px;
            min-height: 20px;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #9f9f9c;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        .delete-wrap {
            flex: 1 1 10%;
            width: max-content;
            height: max-content;
            min-width: 20px;
            min-height: 20px;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #9f9f9c;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.slide-out {
    right: 0;
}

@keyframes borderBlink {
    from {
        border: 1px solid red
    }

    to {
        border: 1px solid #DBD7D2;
    }
}

.dotted-list {
    width: 0 !important;
    // padding: 0 !important;
    // margin: 0 !important;
    height: 0;
    top: 120px !important;
    overflow: hidden;
    right: 8px !important;
    cursor: pointer;

    .operator-wrap {
        .minimize-btn {
            svg {
                width: 0;
                height: 0;
            }
        }
    }
}

.dot-blink {
    animation: borderBlink 1s infinite ease;
}

.dot-unblink {
    animation: none;
}

.slide-in {
    right: 0;
}