.tree-view-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .tree-view {
        flex: 1;
        padding: 0;
        list-style-type: none;
        overflow-y: auto;
    }

    .item-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .tree-item {
        padding: 5px;

        > input[type="radio"],
        > span,
        > img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    .children-container {
        list-style-type: none;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        // max-height: 500px;

        &.collapsed {
            max-height: 0;
        }
    }

    .collapse-icon {
        cursor: pointer;
        margin-right: 5px;
        user-select: none;
    }
}
